{% from "form-helper.html" import displayField %}
{% extends "prelogin-layout.html" %}
{% block title %} Registration {% endblock %}

{% block content %}
	<h1> Get Started !</h1>
	<form action="{{ url_for('index')}}" , method="POST">

		{{displayField(form.username,'User Name',autocomplete=false,autofocus=true)}}
		{{displayField(form.password,'Password')}}
		{{displayField(form.confirm_password,'Confirm Password')}}

		<div>
			{{ form.submit_button }}	
		</div>		
		{{ form.csrf_token }}
	</form>
{% endblock %}